<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.edit.paste">
         <class
               class="org.eclipse.ui.internal.handlers.WidgetMethodHandler">
            <parameter
                  name="methodName"
                  value="paste">
            </parameter>
         </class>            
         <activeWhen>
         <and>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.javaadam.quickmatcher.common.widgets.TextWithCancelButton.textfield">
               </equals>
            </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.cut">
         <class
               class="org.eclipse.ui.internal.handlers.WidgetMethodHandler">
            <parameter
                  name="methodName"
                  value="cut">
            </parameter>
         </class>            
         <activeWhen>
         <and>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.javaadam.quickmatcher.common.widgets.TextWithCancelButton.textfield">
               </equals>
            </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.copy">
         <class
               class="org.eclipse.ui.internal.handlers.WidgetMethodHandler">
            <parameter
                  name="methodName"
                  value="copy">
            </parameter>
         </class>            
         <activeWhen>
         <and>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.javaadam.quickmatcher.common.widgets.TextWithCancelButton.textfield">
               </equals>
            </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.selectAll">
         <class
               class="org.eclipse.ui.internal.handlers.SelectAllHandler">
            <parameter
                  name="methodName"
                  value="selectAll">
            </parameter>
         </class>            
         <activeWhen>
         <and>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.javaadam.quickmatcher.common.widgets.TextWithCancelButton.textfield">
               </equals>
            </with>
            </and>
         </activeWhen>
      </handler>
   </extension>

</plugin>
